.rating {
  display: inline;
  margin: 10px;
}

.overallrating {
  background-color: yellow;
  padding-top: 0%;
  display: inline-block;
}

.overallrating p {
  margin: 0%;
}

.feedbackrating {
  background-color: aqua;
}
